@import './variables';

.wrapper {
	width: 100vw;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1rem;
}

.logo {
	display: flex;
	color: inherit;
	align-items: center;
	gap: 0.5rem;

	img {
		width: 30px;
	}

	span {
		font-size: $fs_large;
		font-weight: $fw_large;
		color: inherit;
		background-image: linear-gradient(
			to right,
			$rosy_mauve,
			$rich_plum,
			$shadowy_indigo,
			$midnight_navy
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: $transition_fast;
	}

	&:hover {
		span {
			background-image: linear-gradient(
				to right,
				$midnight_navy,
				$shadowy_indigo,
				$rich_plum,
				$rosy_mauve
			);
		}
	}
}

.button {
	background-image: linear-gradient(-45deg, $rich_plum, $rosy_mauve);
	opacity: 0.8;
	border: none;
	width: fit-content;
	margin: 0 auto;
	padding: 1rem 2rem;
	border-radius: $br_medium;
	color: $snow_white;
	cursor: pointer;
	transition: $transition_fast;
	font-size: $fs_normal;
	font-weight: $fw_normal;
}

.button:hover {
	opacity: 1;
}
