/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Colors */
$deep_night_blue: #0f1322;
$steel_grey: #4b545a;
$neutral_light_gray: #e5e5e5;
$snow_white: #f9f9f9;
$midnight_navy: #282e4e;
$shadowy_indigo: #4b4f76;
$rich_plum: #67204b;
$rosy_mauve: #b14876;
$radiant_sky_blue: #4fadfe;
$bright_turquoise: #08edff;

/* Font Family */
$poppins: 'Poppins', sans-serif;

/* Font Size */
$fs_extra_small: 0.75rem;
$fs_small: 0.8rem;
$fs_normal: 1rem;
$fs_medium: 1.2rem;
$fs_large: 1.5rem;
$fs_extra_large: 1.7rem;

/* Font Weight */
$fw_small: 300;
$fw_normal: 400;
$fw_medium: 500;
$fw_large: 600;
$fw_extra_large: 700;

/* Border Width */
$bw_small: 1px;
$bw_medium: 2px;
$bw_large: 4px;

/* Border Radius */
$br_small: 2px;
$br_medium: 5px;
$br_large: 8px;

/* Transitions */
$transition_fast: all 0.3s ease;
$transition_medium: all 0.5s ease;
$transition_slow: all 0.1s ease;
